@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&display=swap");

// ----------
// * FONTS *
// ----------
$nunito: 'Nunito', sans-serif;

// -----------
// * COLORS *
// -----------
$c-white : #fff;
$c-black : #000;
$c-black-light: #111;
$c-gray: #aaa;
$c-dark-gray : #888;
$c-mustard : #a79a2d;
$c-mustard-dark : #817824;
$c-box-shadow-first: #e92929;
$c-box-shadow-second: #a2e946;
$c-box-shadow-third: #297ce9;
$c-box-shadow-fourth: #e92999;
$c-bg-primary : #333;
$c-bg-secondary : #222;

html {
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    outline: none;
}







