.nav {
    position: fixed;
    background-color: #000;
    display: flex;
    justify-content: center;
    z-index: 3;
    width: 100%;
    top: 0;
    transform: translateY(-100%);
    transition: transform .5s;

    &.is-active {
        transform: translateY(0);
        transition: transform .5s .3s;

        .nav-link{
            opacity: 1;
        }
        .nav-link:nth-child(1){
            transition: opacity .5s .6s;
        }
        .nav-link:nth-child(2){
            transition: opacity .5s .7s;
        }
        .nav-link:nth-child(3){
            transition: opacity .5s .8s;
        }
        .nav-link:nth-child(4){
            transition: opacity .5s .9s;
        }
        .nav-link:nth-child(5){
            transition: opacity .5s 1s;
        }
    }

    &-wrapper {
        background-color: #000;
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.3rem 0;
    }

    &-link {
        text-decoration: none;
        color: #aaa;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity:0;
        transition: opacity .5s;

        &:hover {
            i {
                color: #fff;
            }

            span {
                color: #fff;
            }
        }

        i {
            font-size: 1.6rem;
            transition: color .3s;

        }

        span {
            font-size: .9rem;
            font-weight: 900;
            letter-spacing: .13rem;
            margin-top: .1rem;
            transition: color .3s;

        }
    }

    &-link:not(:nth-last-child(1)) {
        margin-right: .7rem;
    }
}

.menu-btn {
    outline: none;
    border: none;
    width: 1.8rem;
    height: 2.7rem;
    border-radius: 20rem 20rem 10rem 10rem;
    position: fixed;
    background: #000;
    top: .5rem;
    left: .7rem;
    z-index: 3;
    cursor: pointer;
    transition: top .5s .3s;

    &.is-active{
        top: 6rem;
        transition: top .5s;
    }

    &::before {
        content: "";
        position: absolute;
        width: .2rem;
        height: 300%;
        background-color: #000;
        top: -300%;
        left: 50%;
        transform: translateX(-50%);
    }
}