.register {
    position: relative;
    background-color: #222;
    display: flex;
    justify-content: center;

    &-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 2rem 0;

        @media (min-width:550px){
            width: 20rem;
            align-items: flex-start;
        }

        @media (min-width:896px){
            width: 45rem;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }
    }

    &-heading {
        font-size: 1.6rem;
        text-transform: uppercase;
        color: #a79a2d;
        text-align: center;
        font-weight: 900;
        text-align: left;
        width: 16rem;

        @media (min-width:550px){
            font-size: 1.8rem;
        }

    }

    &-desc {
        font-size: .6rem;
        color: #888;
        text-transform: uppercase;
        text-align: left;
        width: 16rem;

        @media (min-width:550px){
            font-size: .7rem;
            width: 18rem;
        }

    }

    &-form {
        margin-top: 2rem;
        position: relative;
        width: 16rem;

        @media (min-width:550px){
            width: 18rem;
        }

        @media (min-width:896px){
            margin-top: 0;

        }

        label {
            position: absolute;
            width: 0;
            overflow: hidden;
        }
    }

    &-input {
        outline: none;
        border: none;
        font-size: .6rem;
        width: 100%;
        padding: .6rem 2.2rem .6rem .4rem;
        color: #333;
        letter-spacing: .05rem;
        font-weight: bold;

        
        @media (min-width:550px){
            font-size: .8rem;
        }
    }

    &-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1.1%;
        height: 80%;
        width: 10%;
        color: #a79a2d;
        background-color: #333;
        outline: none;
        border: none;
    }
}