.footer{
    position: relative;
    background-color: $c-bg-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-top:0.1rem solid $c-dark-gray; ;

    &-desc{
        color: $c-dark-gray;
        font-size: .6rem;
        letter-spacing: .04rem;

        @media (min-width:550px){
            font-size: .7rem;
        }
        @media (min-width:700px){
            font-size: .8rem;
        }

    }
}