.nav {
    position: fixed;
    background-color: $c-black;
    display: flex;
    justify-content: center;
    z-index: 3;
    width: 100%;
    top: -30%;
    transition: top .5s;

    &.is-active {
        top: 0;
        transition: top .5s .3s;

        .nav-link {
            opacity: 1;
        }

        .nav-link:nth-child(1) {
            transition: opacity .5s .6s;
        }

        .nav-link:nth-child(2) {
            transition: opacity .5s .7s;
        }

        .nav-link:nth-child(3) {
            transition: opacity .5s .8s;
        }

        .nav-link:nth-child(4) {
            transition: opacity .5s .9s;
        }

        .nav-link:nth-child(5) {
            transition: opacity .5s 1s;
        }
    }

    &-wrapper {
        background-color: $c-black;
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.3rem 0;

        @media (min-width:550px) {
            padding: 1.7rem 0;
        }

        @media (min-width:900px) {
            padding: 1.2rem 0;
        }
    }

    &-link:not(:nth-last-child(1)) {
        margin-right: .5rem;

        @media (min-width:550px) {
            margin-right: 2rem;
        }

        @media (min-width:900px) {
            margin-right: 5rem;
        }
        @media (min-width:1400px) {
            margin-right: 6rem;
        }
    }

    &-link {
        text-decoration: none;
        color: $c-gray;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity .5s;

        @media (min-width:550px) {
            font-size: 1.12rem;
        }

        &:hover {
            i {
                color: $c-white;
            }

            span {
                color: $c-white;
            }
        }

        i {
            font-size: 1.6rem;
            transition: color .3s;

            @media (min-width:550px) {
                font-size: 2rem;
            }

            @media (min-width:900px) {
                font-size: 4rem;
            }
            @media (min-width:1400px) {
                font-size: 4.5rem;
            }

        }

        span {
            font-size: .9rem;
            font-weight: 900;
            letter-spacing: .13rem;
            margin-top: .1rem;
            transition: color .3s;

            @media (min-width:550px) {
                font-size: 1.12rem;
            }
            @media (min-width:1400px) {
                font-size: 1.8rem;
            }
        }
    }
}

