.register {
    position: relative;
    background-color: $c-bg-secondary;
    display: flex;
    justify-content: center;

    &-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 2rem 0;

        @media (min-width:550px){
            width: 20rem;
            align-items: flex-start;
        }

        @media (min-width:896px){
            width: 45rem;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }
        @media (min-width:1400px) {
            width: 55rem;
        }
    }

    &-heading {
        font-size: 1.6rem;
        text-transform: uppercase;
        color: $c-mustard;
        text-align: center;
        font-weight: 900;
        text-align: left;
        width: 16rem;

        @media (min-width:550px){
            font-size: 1.8rem;
        }

        @media (min-width:1400px) {
            font-size: 2.3rem;
        }

    }

    &-desc {
        font-size: .6rem;
        color: $c-dark-gray;
        text-transform: uppercase;
        text-align: left;
        width: 16rem;

        @media (min-width:550px){
            font-size: .7rem;
            width: 18rem;
        }
        @media (min-width:1400px) {
            font-size: .9rem;
            width: 22rem;
        }

    }

    &-form {
        margin-top: 2rem;
        position: relative;
        width: 16rem;

        @media (min-width:550px){
            width: 18rem;
        }

        @media (min-width:896px){
            margin-top: 0;
        }
        @media (min-width:1400px){
            width: 21rem;

        }

        label {
            position: absolute;
            width: 0;
            overflow: hidden;
        }
    }

    &-input {
        position: relative;
        outline: none;
        border: none;
        font-size: .6rem;
        width: 100%;
        padding: .6rem 2.2rem .6rem .4rem;
        color: $c-mustard;
        letter-spacing: .05rem;
        font-weight: bold;
        border: .1rem solid $c-mustard;
        
        @media (min-width:550px){
            font-size: .8rem;
        }
        @media (min-width:1400px) {
            font-size: 1rem;
        }

        &::placeholder{
            color: $c-mustard;
        }

    }


    &-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1.1%;
        height: 80%;
        width: 10%;
        color: $c-mustard;
        background-color: $c-bg-primary;
        outline: none;
        border: none;
    }

    
    &-warning{
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(170%);
        width: 100%;
        color: $c-mustard;
        font-size: .8rem;
        display: none;
    }
    &-success{
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(170%);
        width: 100%;
        color: $c-mustard;
        font-size: .8rem;
        display: none;
    }
    
}